<div class="container-fluid hidden-print">
    <div class="row">
        <div class="bg-head col-sm-12">
            <!-- Button trigger modal Sign In-->
            <button type="button" class="btn btn-primary btn-sm btn-login" data-toggle="modal" data-target="#exampleModal">
                    Login
                </button>
            <span style="float: left;margin-left: 7%;"><img src="assets/images/logo1.png" alt="" width="200px" class="img-responsive"></span>
            <p class="lead d-none d-md-block">STIE <small style="font-size: 18px;">Employement Form</small></p>
        </div>
    </div>
</div>