::ng-deep .pagination .page-item .page-link {
    color: #4d0b8a !important;
    font-size:x-large;
    font-weight: bolder;
}
::ng-deep .pagination .page-item.disabled .page-link {
     color: #4d0b8a !important; 
}
::ng-deep .pagination .page-item.disabled .page-link {
    color: #4d0b8a !important;
}
::ng-deep .pagination {
        font-size: larger;
    }
