<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <div class="md-form">
                            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput placeholder="Search" style="margin-bottom: 2rem;" />
                        </div>
                    </div>
                </div>
                <div class="table-responsive jumbotron">
                    <div class="lead font-weight-bold"> List Of enployees</div>
                    <table mdbTable #tableEl="mdbTable" class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let el of elements; let i = index" style="cursor: pointer" [routerLink]="[link,el.id]">
                                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.personalDetails?.fullName}}</th>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.postAppliedFor}}</td>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.projectSite}}</td>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.company}}</td>
                                <!--  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.address[1]}}</td> -->
                            </tr>
                        </tbody>
                        <tfoot class="w-100">
                            <!-- grey lighten-5 -->
                            <tr>
                                <td colspan="4">
                                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>