<!-- Default form login -->
<form #myForm="ngForm" (ngSubmit)="onSubmit()" class="text-center border border-light">

    <p class="h4 mb-4">Login</p>
    <span class="text-danger" *ngIf="showError">{{errorMessage}}</span>
    <div class="m-3">

        <!-- Username -->
        <div class="form-group">
            <label for="exampleInputEmail1" class="float-left">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" required #username aria-describedby="emailHelp" placeholder="Enter userame">
        </div>
        <mat-error *ngIf="username.invalid || (username.untouched && username.dirty)">
            <span class="text-danger">This field is required *</span>
        </mat-error>

        <!-- Password -->
        <div class="form-group">
            <label for="exampleInputPassword1" class="float-left">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required #password placeholder="Password">
        </div>

        <mat-error *ngIf="password.invalid || (password.untouched && password.dirty)">
            <span class="text-danger">This field is required *</span>
        </mat-error>

        <!-- <div class="d-flex justify-content-around">
        <div>
            
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
    </div>
    <div>
        <a href="">Forgot password?</a>
    </div>
    </div> -->

        <!-- Sign in button -->
        <button color="info" routerLink="" class="btn btn-outline-info  btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

        <!-- Register -->
        <!-- <p>Not a member?
        <a href="">Register</a>
        </p> -->
    </div>

</form>
<!-- Default form login -->
